.Header{
    margin: 7% 20%;    
}

.Title{
    color: #E6C068;
    font-size: 70px;
    font-weight: bold;
}

.Subtitle{
    color: #a09b9b;
    margin-top: 3%;
}

.card-text{
    background: #2b2e38;
}

.card-text-info{
    margin: 10% 0;
    color: #808080;
    
    line-height: 40px;
}

.card-info{
    margin:5% 10%;
}

.categories{
    color: white;
    text-align: center;
}